extends partials/layout.pug

block content
	body.i
	.index
		h1 Welcome to Pugs Pizza Emporium!!!
		

		//- img.i(src='http://gluttoner.com/wp-content/uploads/2011/04/royal-wedding-pizza.jpg')
		img.i(src='https://s-media-cache-ak0.pinimg.com/564x/f0/1d/66/f01d669011eef5c855817ffebb04160f.jpg')
		.container

			a(href="http://www.patheos.com/blogs/unreasonablefaith/2010/01/satanic-pizza/") holy macaroni



